<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form align="center" th:method="PATCH" th:action="@{/admin/{id}(id=${editable_user.getId()})}" th:object="${editable_user}">

    <label for="username">UserName:</label><br>
    <input type="text" th:field="*{username}" id="username"/><br>
    <label for="firstname">First Name:</label><br>
    <input type="text" th:field="*{firstname}" id="firstname"/><br>
    <label for="lastname">Last Name:</label><br>
    <input type="text" th:field="*{secondName}" id="lastname"/><br>
    <label for="age">Age:</label><br>
    <input type="text" th:field="*{age}" id="age"/><br>
    <label for="password">Password:</label><br>
    <input type="text" th:field="*{password}" id="password"/><br>
    <input type="submit" value = "EDIT"/>
</form><br>
<form align="center" th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>