<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="text/css">.text-center {
        text-align: center;
    }
    </style>
  <title>FORBIDDEN</title>
</head>
<body>
<p><strong><span style="font-size: 60px;">Данная страница доступна только администраторам сайта</span></strong></p>

<p><strong><span style="font-size: 60px;"><a href="/">На главную</a></span></strong></p>
</body>
</html>